.card-img-top {
    width: 100%;           /* ocupa todo el ancho de la tarjeta */
    height: 100px;         /* altura fija más pequeña */
    object-fit: cover;     /* mantiene proporción y recorta lo que sobra */
}
