.card-img-top {
    width: 100%;        /* ancho de la tarjeta */
    height: auto;       /* altura se ajusta automáticamente */
    max-height: 150px;  /* altura máxima deseada */
    object-fit: contain; /* mantiene proporción sin recortar */
    display: block;
    margin: auto;
}
